<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/mp-ico.png" type="image/x-icon">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Admin Surrender Archives</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    :root {
        --primary-color: #FF8E8E;
        --panel-color: #FFF;
        --text-color: #000;
        --black-light-color: #707070;
        --border-color: #e6e5e5;
        --toggle-color: #DDD;
        --box1-color: #4DA3FF;
        --box2-color: #FFE6AC;
        --box3-color: #E7D1FC;
        --title-icon-color: #fff;

        /* ====== Transition ====== */
        --tran-05: all 0.5s ease;
        --tran-03: all 0.3s ease;
        --tran-03: all 0.2s ease;
    }

    body {
        min-height: 100vh;
        background-color: #ffff;
    }

    body.dark {
        --primary-color: #3A3B3C;
        --panel-color: #242526;
        --text-color: #CCC;
        --black-light-color: #CCC;
        --border-color: #4D4C4C;
        --toggle-color: #FFF;
        --box1-color: #3A3B3C;
        --box2-color: #3A3B3C;
        --box3-color: #3A3B3C;
        --title-icon-color: #CCC;
    }

    /* === Custom Scroll Bar CSS === */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 12px;
        transition: all 0.3s ease;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #0b3cc1;
    }

    body.dark::-webkit-scrollbar-thumb:hover,
    body.dark .activity-data::-webkit-scrollbar-thumb:hover {
        background: #3A3B3C;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        padding: 10px 14px;
        background-color: var(--panel-color);
        border-right: 1px solid var(--border-color);
        transition: var(--tran-05);
    }

    nav.close {
        width: 73px;
    }

    nav .logo-name {
        display: flex;
        align-items: center;
    }

    nav .logo-image {
        display: flex;
        justify-content: center;
        min-width: 45px;
    }

    nav .logo-image img {
        width: 40px;
        object-fit: cover;
        border-radius: 50%;
    }

    nav .logo-name .logo_name {
        font-size: 22px;
        font-weight: 600;
        color: var(--text-color);
        margin-left: 14px;
        transition: var(--tran-05);
    }

    nav.close .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav .menu-items {
        margin-top: 40px;
        height: calc(100% - 90px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-items li {
        list-style: none;
    }

    .menu-items li a {
        display: flex;
        align-items: center;
        height: 50px;
        text-decoration: none;
        position: relative;
    }

    .nav-links li a:hover:before {
        content: "";
        position: absolute;
        left: -7px;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: var(--primary-color);
    }


    body.dark li a:hover:before {
        background-color: var(--text-color);
    }

    .menu-items li a i {
        font-size: 24px;
        min-width: 45px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--black-light-color);
    }

    .menu-items li a .link-name {
        font-size: 18px;
        font-weight: 400;
        color: var(--black-light-color);
        transition: var(--tran-05);
    }

    nav.close li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    .nav-links li a:hover i,
    .nav-links li a:hover .link-name {
        color: var(--text-color);
        font-weight: bold;
    }

    .nav-links .active a {
        background-color: var(--primary-color); 
        border-radius: 5px; 
    }

    .nav-links .active a i,
    .nav-links .active a .link-name {
        color: var(--text-color);
    }

    .nav-links .active a:hover {
        background-color: #FF9999; 
        color: var(--panel-color) !important; 
    }

    body.dark .nav-links li a:hover i,
    body.dark .nav-links li a:hover .link-name {
        color: var(--text-color);
    }

    .menu-items .logout-mode {
        padding-top: 10px;
        border-top: 1px solid var(--border-color);
    }

    .menu-items .mode {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    .menu-items .mode-toggle {
        position: absolute;
        right: 14px;
        height: 50px;
        min-width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .mode-toggle .switch {
        position: relative;
        display: inline-block;
        height: 22px;
        width: 40px;
        border-radius: 25px;
        background-color: var(--toggle-color);
    }

    .switch:before {
        content: "";
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        height: 15px;
        width: 15px;
        background-color: var(--panel-color);
        border-radius: 50%;
        transition: var(--tran-03);
    }

    body.dark .switch:before {
        left: 20px;
    }

    .dashboard {
        position: relative;
        left: 250px;
        background-color: var(--panel-color);
        min-height: 100vh;
        width: calc(100% - 250px);
        padding: 10px 14px;
        transition: var(--tran-05);
    }

    nav.close~.dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }

    .dashboard .top {
        position: fixed;
        top: 0;
        left: 250px;
        display: flex;
        width: calc(100% - 250px);
        justify-content: space-between;
        align-items: center;
        padding: 10px 14px;
        background-color: var(--panel-color);
        transition: var(--tran-05);
        z-index: 10;
    }

    nav.close~.dashboard .top {
        left: 73px;
        width: calc(100% - 73px);
    }

  
  @media screen and (max-width: 768px) {

    /*  responsive  */
    .submitted-reports {
      margin-left: 0px;
    }
  }

    .dashboard .top .sidebar-toggle {
        font-size: 26px;
        color: var(--text-color);
        cursor: pointer;
    }

    .dashboard .top .search-box {
        position: relative;
        height: 45px;
        max-width: 600px;
        width: 100%;
        margin: 0 30px;
    }

    .top .search-box input {
        position: absolute;
        border: 1px solid var(--border-color);
        background-color: var(--panel-color);
        padding: 0 25px 0 50px;
        border-radius: 5px;
        height: 100%;
        width: 100%;
        color: var(--text-color);
        font-size: 15px;
        font-weight: 400;
        outline: none;
    }

    .top .search-box i {
        position: absolute;
        left: 15px;
        font-size: 22px;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        color: var(--black-light-color);
    }

    .top img {
        width: 40px;
        border-radius: 50%;
    }

    .dashboard .dash-content {
        padding-top: 50px;
    }

    .dash-content .title {
        display: flex;
        align-items: center;
        margin: 60px 0 30px 0;
    }

    .dash-content .title i {
        position: relative;
        height: 35px;
        width: 35px;
        background-color: var(--primary-color);
        border-radius: 6px;
        color: var(--title-icon-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }

    .dash-content .title .text {
        font-size: 24px;
        font-weight: 500;
        color: var(--text-color);
        margin-left: 10px;
    }

    .dash-content .boxes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .dash-content .boxes .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
        width: calc(100% / 3 - 15px);
        padding: 15px 20px;
        background-color: var(--box1-color);
        transition: var(--tran-05);
    }

    .boxes .box i {
        font-size: 35px;
        color: var(--text-color);
    }

    .boxes .box .text {
        white-space: nowrap;
        font-size: 18px;
        font-weight: 500;
        color: var(--text-color);
    }

    .boxes .box .number {
        font-size: 40px;
        font-weight: 500;
        color: var(--text-color);
    }

    .boxes .box.box2 {
        background-color: var(--box2-color);
    }

    .boxes .box.box3 {
        background-color: var(--box3-color);
    }

    .dash-content .activity .activity-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .activity .activity-data {
        display: flex;
    }

    .activity-data .data {
        display: flex;
        flex-direction: column;
        margin: 0 15px;
    }

    .activity-data .data-title {
        font-size: 20px;
        font-weight: 500;
        color: var(--text-color);
    }

    .activity-data .data .data-list {
        font-size: 18px;
        font-weight: 400;
        margin-top: 20px;
        white-space: nowrap;
        color: var(--text-color);
    }

    @media (max-width: 1000px) {
        nav {
            width: 73px;
        }

        nav.close {
            width: 250px;
        }

        nav .logo_name {
            opacity: 0;
            pointer-events: none;
        }

        nav.close .logo_name {
            opacity: 1;
            pointer-events: auto;
        }

        nav li a .link-name {
            opacity: 0;
            pointer-events: none;
        }

        nav.close li a .link-name {
            opacity: 1;
            pointer-events: auto;
        }

        nav~.dashboard {
            left: 73px;
            width: calc(100% - 73px);
        }

        nav.close~.dashboard {
            left: 250px;
            width: calc(100% - 250px);
        }

        nav~.dashboard .top {
            left: 73px;
            width: calc(100% - 73px);
        }

        nav.close~.dashboard .top {
            left: 250px;
            width: calc(100% - 250px);
        }

        .activity .activity-data {
            overflow-X: scroll;
        }
    }

    @media (max-width: 780px) {
        .dash-content .boxes .box {
            width: calc(100% / 2 - 15px);
            margin-top: 15px;
        }
    }

    @media (max-width: 560px) {
        .dash-content .boxes .box {
            width: 100%;
        }
    }

    @media (max-width: 400px) {
        nav {
            width: 0px;
        }

        nav.close {
            width: 73px;
        }

        nav .logo_name {
            opacity: 0;
            pointer-events: none;
        }

        nav.close .logo_name {
            opacity: 0;
            pointer-events: none;
        }

        nav li a .link-name {
            opacity: 0;
            pointer-events: none;
        }

        nav.close li a .link-name {
            opacity: 0;
            pointer-events: none;
        }

        nav~.dashboard {
            left: 0;
            width: 100%;
        }

        nav.close~.dashboard {
            left: 73px;
            width: calc(100% - 73px);
        }

        nav~.dashboard .top {
            left: 0;
            width: 100%;
        }

        nav.close~.dashboard .top {
            left: 0;
            width: 100%;
        }
    }

    section {

        padding: 20px;
        

    }

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    .entry {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 25em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    position: relative;
    /* Relative positioning for button placement */


  }

  .entry:hover {
    transform: translateY(-5px);
  }

  img[alt="image"] {
    max-width: 100%;
    /* Adjust the maximum width as needed */
    max-height: 200px;
    /* Adjust the maximum height as needed */
    /* Add any other styles you want */
  }

   
    /* Styles for submenu */
    ul.nav-links li {
        position: relative;
        /* Set parent li to relative */
    }

    ul.nav-links li ul.submenu {
        display: none;
        position: absolute;
        background-color: #fff;
        /* Change background color as needed */
        padding: 10px;
        top: 100%;
        /* Position below the parent */
        left: 0;
        /* Align with parent */
        z-index: 999;
        /* Higher z-index to bring it in front */
        width: 300px;
        /* Set the width of the submenu */
        border: 1px solid #ccc;
        /* Add border to the submenu */
        
    }

    /* Set width for submenu items */
    ul.nav-links li ul.submenu li {
        width: 100%;
        /* Set the width of submenu items */
        border-bottom: 1px solid #ddd;
        /* Add bottom border to submenu items */
    }

    /* Styles for submenu links */
    ul.nav-links li ul.submenu li a {
        display: block;
        text-decoration: none;
        color: #333;
        /* Link color */
        padding: 8px 16px;
        font-family: 'Poppins', sans-serif;
    }

    /* Additional styling as needed */

    /* Ensure the submenu is at the top level */
    ul.submenu {
        position: absolute;
        top: 0;
        left: 0;
    }
    .styled-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .styled-table th, .styled-table td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }

    .styled-table th {
        background-color: #f2f2f2;
    }

    .action-buttons button {
        margin-right: 5px;
    }

    .image-link img {
        width: 100px; /* Set your desired width for the images */
        height: 100px; /* Set your desired height for the images */
        object-fit: fill; /* Maintain the aspect ratio and cover the container */
        border: 1px solid #ddd; /* Optional: Add a border for better visibility */
        border-radius: 5px; /* Optional: Add border-radius for rounded corners */
    }
    .status-accepted {
        color: green;
    }

    .status-rejected {
        color: red;
    }
    .action-buttons button {
        margin-right: 10px; /* Adjust the margin-right to add space between buttons */
        padding: 10px 15px; /* Adjust the padding to change the size of the buttons */
        width: 100px; /* Adjust the width to ensure all buttons have the same size */
    }
</style>

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="/images/icon.jpg" alt="">
            </div>
            <span class="logo_name">Welcome, Admin!</span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/admin/admindashboard">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dashboard</span>
                </a></li>
                <li><a href="/admin/list-users">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Manage Users</span>
                </a></li>
                
            <li><a href="/admin/list-pets">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Manage Pets</span>
                </a></li>
            <li><a href="/admin/adminadoptions">
                    <i class="uil uil-envelope-check"></i>
                    <span class="link-name">Pet requests </span>
                </a></li>
            <li><a href="/admin/adminrequests">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Adoptions</span>
                </a></li>
            <li><a href="/admin/adminreport">
                    <i class="uil uil-phone-volume"></i>
                    <span class="link-name">Reports</span>
                </a></li>
            <li><a href="/admin/admindonate">
                    <i class="uil uil-heartbeat"></i>
                    <span class="link-name">Donations</span>
                </a></li>
            <li><a href="/admin/adminsurrender">
                    <i class="uil uil-frown"></i>
                    <span class="link-name">Surrender</span>
                </a></li>
                <li class="archives">
                    <a href="#" class="dropdown-toggle">
                        <i class="uil uil-archive"></i>
                        <span class="link-name">Archives</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/admin/requestarchives/requestarchives">Pet Adoption</a></li>
                        <li><a href="/admin/surrenderarchives/surrenderarchives">Surrender Applications</a></li>
                        <li><a href="/admin/petrequestarchives/petrequestarchives">Pet Requests</a></li>
                        <li><a href="/admin/reportarchives/reportarchives">Pet Reports</a></li>
                        <li><a href="/admin/adoptedarchives/adoptedarchives">Adopted Pets</a></li>
                        <!-- Add more archive links as needed -->
                    </ul>
                </li>
            </ul>

            <ul class="logout-mode">
                <li>
                    <a href="#" onclick="performLogout()">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a>
                </li>
                <li>
                        <a type="submit"  onclick="location.href='/admin/signup'"></atype>
                        <i class="uil uil-user-plus"></i>
                        <span class="link-name">Create Another Admin</span>
                    </a>
                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <section class="dashboard" style="margin-top: 3em">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
        </div>
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
        </div>
        <div class="submitted-reports" style="margin-top: 2em;">
            <h1 style="text-align: center;">Archived Surrender Requests</h1>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Owner Name</th>
                        <th>Email</th>
                        <th>Full Address</th>
                        <th>Pet Name</th>
                        <th>Pet Type</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% archivedSurrenders.forEach(function(surrender) { %>
                        <tr>
                            <td><%= surrender.ownerName %></td>
                            <td><%= surrender.email %></td>
                            <td><%= surrender.fullAddress %></td>
                            <td><%= surrender.petName %></td>
                            <td><%= surrender.petType %></td>
                            <td><%= surrender.status %></td>
                            <!-- Add more table cells as needed -->
                            <td>
                                <div class="buttons">
                                    <button class="btn btn-primary unarchive-button" data-id="<%= surrender.id %>">
                                        Unarchive
                                    </button>
                                </div>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </section>
    


    <script>
        const body = document.querySelector("body"),
            modeToggle = body.querySelector(".mode-toggle");
        sidebar = body.querySelector("nav");
        sidebarToggle = body.querySelector(".sidebar-toggle");

        let getMode = localStorage.getItem("mode");
        if (getMode && getMode === "dark") {
            body.classList.toggle("dark");
        }

        let getStatus = localStorage.getItem("status");
        if (getStatus && getStatus === "close") {
            sidebar.classList.toggle("close");
        }

        modeToggle.addEventListener("click", () => {
            body.classList.toggle("dark");
            if (body.classList.contains("dark")) {
                localStorage.setItem("mode", "dark");
            } else {
                localStorage.setItem("mode", "light");
            }
        });

        sidebarToggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
            if (sidebar.classList.contains("close")) {
                localStorage.setItem("status", "close");
            } else {
                localStorage.setItem("status", "open");
            }
        })

        const currentUrl = window.location.pathname;
        const navLinks = document.querySelectorAll('.nav-links a');

        navLinks.forEach(link => {
            const linkHref = link.getAttribute('href');
            if (currentUrl === linkHref) {
                link.parentElement.classList.add('active');
            }
        });

        const unarchiveButtons = document.querySelectorAll('.unarchive-button');

        unarchiveButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                const id = button.getAttribute('data-id'); // Retrieve the 'data-id' attribute

                // Send a POST request to the server
                fetch('/admin/surrenderarchives/unarchive', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ id }),
                })
                    .then(function (response) {
                        if (response.status === 200) {
                            // Update the UI to indicate the request is unarchived
                            const entry = button.closest('.entry');
                            entry.classList.remove('archived');
                            entry.remove();
                        } else {
                            // Handle errors, if needed
                        }
                    })
                    .catch(function (error) {
                        console.error('Error unarchiving surrender request:', error);
                    });
            });
        });

        const deleteButtons = document.querySelectorAll('.delete-button');

    deleteButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            const id = button.getAttribute('data-id');

            // Send a POST request to the server to delete the archived request
            fetch('/admin/surrenderarchives/delete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ id }),
            })
                .then(function (response) {
                    if (response.status === 200) {
                        // Remove the deleted entry from the UI
                        const entry = button.closest('.entry');
                        entry.remove();
                    } else {
                        // Handle errors, if needed
                    }
                })
                .catch(function (error) {
                    console.error('Error deleting surrender request:', error);
                });
        });
    });


    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.archives .dropdown-toggle').click(function (e) {
                e.preventDefault();
                $('.archives .submenu').toggle();
            });

            // Close the submenu if clicking outside of it
            $(document).on('click', function (e) {
                if (!$(e.target).closest('.archives').length) {
                    $('.archives .submenu').hide();
                }
            });
        });
    </script>
     <script>
        function performLogout() {
        // Show a loading state (optional)
        // For example, change the link text to 'Logging out...'
        const logoutLink = document.querySelector('.logout-mode a');
        logoutLink.innerHTML = '<i class="uil uil-spinner"></i> Logging out...';

        // Simulate a delay of 2 seconds before redirecting to the login page
        setTimeout(function () {
            window.location.href = '/admin/login';
        }, 2000); // Adjust the delay time (in milliseconds) as needed
    }
    </script>

</body>

</html>